{{ define "layout.actions" }}
<script>
    var currentView = "viewfull";
    var hideChat = true;
    function toggleChat(id) {
        if (hideChat) {
            hideChat = false;
            htmx.removeClass("#" + id, "hide");
        } else {
            hideChat = true;
            htmx.addClass("#" + id, "hide");
        }
    }
    function setCurrentView(view) {
        htmx.removeClass("#" + currentView, "hide");
        currentView = view;
        htmx.addClass("#" + view, "hide");
    }
    function currentPath() {
        let s = currentSource();
        let result = s.lastIndexOf("/");
        return s.substring(result);
    }
</script>
<div class="actions">
    <button class="action" hx-on:click="toggleMenu('leftmenu')" hx-swap="none">
        <span class="symbols">menu</span>
    </button>
    <span id="leftmenu" class="hide">
        {{range .ActionsCamera}}
        <div
            id="{{.Name}}"
            class="hide"
            hx-put="/{{.Name}}"
            hx-swap="beforeend"
            hx-target="#slots"
            hx-on::afterSwap="addDragHandlers('slot-{{.Name}}')"
            hx-vals="js:{source: currentSource()}"
        ></div>
        <button class="action" hx-on:click="doAction('{{.Name}}')">
            <span class="symbols">{{.Icon}}</span>
        </button>
        {{ end }} {{range .ActionsHome}}
        <div
            id="{{.Name}}"
            class="hide"
            hx-get="/{{.Name}}"
            hx-swap="beforeend"
            hx-target="#slots"
            hx-on::afterSwap="addDragHandlers('slot-{{.Name}}')"
        ></div>
        <button class="action" hx-on:click="doAction('{{.Name}}')">
            <span class="symbols">{{.Icon}}</span>
        </button>
        {{ end }}
    </span>
</div>
<div class="actions-right">
    <span id="rightmenu">
        <button class="action" hx-on:click="toggleChat('chat')">
            <span id="ws-status-menu" class="symbols">chat</span>
        </button>

        <button
            id="viewcompact"
            class="action"
            hx-put="/viewcompact"
            hx-swap="none"
            hx-select-oob="#layout"
            hx-vals="js:{path: currentPath(), view: 'viewcompact'}"
            hx-on::after-request="setCurrentView('viewcompact')"
        >
            <span class="symbols">view_cozy</span>
        </button>

        <button
            id="viewfull"
            class="action hide"
            hx-put="/viewfull"
            hx-swap="none"
            hx-select-oob="#layout"
            hx-vals="js:{path: currentPath(), view: 'viewfull'}"
            hx-on::after-request="setCurrentView('viewfull')"
        >
            <span class="symbols">capture</span>
        </button>

        <button
            class="action"
            hx-put="/resetcontrols"
            hx-swap="none"
            hx-vals="js:{source: currentSource()}"
        >
            <span class="symbols">reset_settings</span>
        </button>

        <button
            class="action"
            hx-put="/record"
            hx-swap="none"
            hx-vals="js:{source: currentSource()}"
        >
            <span id="streamer" class="symbols"> radio_button_checked </span>
        </button>
    </span>
</div>
{{ end }}
<!--  -->
{{ define "layout.content.head" }}
<span>
    <h3
        hx-on:mousedown="setdraggable('slot-{{.Name}}',true)"
        hx-on:mouseup="setdraggable('slot-{{.Name}}',false)"
    >
        <span class="symbols">{{.Icon}}</span>
        <span>{{.Title}}</span>
    </h3>
    <button
        class="symbols-small close-slot"
        hx-on:click="doAction('{{.Name}}')"
    >
        close
    </button>
</span>
{{ end }}
<!--  -->
{{ define "layout.slot" }} {{ end }}
