{{ define "weather.daily" }}

<div id="slot-{{.Action.Name}}" class="slot" draggable="false">
    <script>
        var hideDaily = [];
        function toggleDaily(index) {
            let id = "daily" + index;
            if (hideDaily[index]) {
                hideDaily[index] = false;
                htmx.removeClass("#" + id, "hide");
            } else {
                hideDaily[index] = true;
                htmx.addClass("#" + id, "hide");
            }
        }
        document.getElementById("daily-date").innerHTML = showFullDate();
    </script>
    {{template "layout.content.head" .Action }}{{$codes := .Codes}}
    <span>
        <div id="daily-date" class="title-date"></div>
        <div class="content scroll">
            {{$rt := .Runtime}} {{range $loc, $location := .Data}}{{$daily :=
            $location.WeatherDaily}} {{$fmt := $rt.CurrentWeatherDaily $loc}}
            <div class="title">
                <span class="title-left">
                    <span class="symbols-weather temperature-high"
                        >arrow_upward</span
                    >
                    <span class="temperature-high">{{$fmt.High}}</span></span
                >
                <span class="title-city">{{$location.City}}</span>
                <span class="title-right">
                    <span class="symbols-weather temperature-low"
                        >arrow_downward</span
                    >
                    <span class="temperature-low">{{$fmt.Low}}</span></span
                >
                <span class="title-left">
                    <span class="symbols-weather precipitation"
                        >weather_mix</span
                    >
                    <span class="precipitation">
                        {{$fmt.Precipitation}} ({{$fmt.Probability}})</span
                    ></span
                >

                <span class="title-center"></span>
                <span class="title-right temperature-uvindex"
                    >UV {{$fmt.UvIndex}}</span
                >
            </div>
            <div class="grid-day">
                {{range $code := $daily.Daily.Code}} {{$wcode :=
                $daily.WeatherCode $code}}
                <span class="symbols-weather" style="color:{{$wcode.Color}}"
                    >{{$wcode.Icon}}</span
                >
                {{end}}
            </div>

            <div class="grid-day">
                {{range $i,$t := $daily.Daily.Time}}
                <span class="grid-data">{{$daily.FormatDayShort $i}}</span>
                {{end}}
            </div>
            {{$limit := $daily.MinMax $daily.Daily.Low $daily.Daily.High}} {{$uv
            := $daily.MinMax $daily.Daily.UvIndex}}{{$prec := $daily.MinMax
            $daily.Daily.Precipitation}}
            <div class="grid-minmax">
                <span class="temperature-high"
                    >High {{$limit.Max}}{{$daily.DailyUnits.High}}</span
                >
                <span class="temperature-uvindex"
                    >UV {{$uv.Max}}{{$daily.DailyUnits.UvIndex}}</span
                >
            </div>
            <canvas class="chart unfade-it" id="daily_canvas{{$loc}}"></canvas>
            <div class="grid-minmax">
                <span class="temperature-low"
                    >Low {{$limit.Min}}{{$daily.DailyUnits.Low}}</span
                >
                <span class="temperature-uvindex"
                    >UV {{$uv.Min}}{{$daily.DailyUnits.UvIndex}}</span
                >
            </div>
            <script>
                hideDaily.push(true);
                var id = "daily_canvas"+{{$loc}};
                showBars(id, {{$daily.Daily.Precipitation}}, {{$daily.Daily.Code}});
                showGraph(id, "violet", {{$uv.Min}}, {{$uv.Max}}, {{$daily.Daily.UvIndex}});
                showGraph(id, "rgba(255, 200, 100, 255)", {{$limit.Min}}, {{$limit.Max}}, {{$daily.Daily.Low}}, 3);
                showGraph(id, "rgba(255, 100, 0, 255)",  {{$limit.Min}}, {{$limit.Max}}, {{$daily.Daily.High}}, 3);
                showMinMax(id);
            </script>
            <button class="more" hx-on:click="toggleDaily({{$loc}})">
                <span class="symbols-small">more_horiz</span>
            </button>
            <div id="daily{{$loc}}" class="hide">
                <div class="grid-daily">
                    <div class="grid-label"></div>
                    <div class="grid-label">Day</div>
                    <div class="grid-label">High</div>
                    <div class="grid-label">Low</div>
                    <div class="grid-label">Precip</div>
                    <div class="grid-label">UV</div>
                </div>

                <div class="grid-daily">
                    {{range $index, $time := $daily.Daily.Time}}{{$code := index
                    $daily.Daily.Code $index}} {{$wcode := index $codes $code}}
                    {{$icon := $wcode.Icon}}
                    <span class="symbols-small">{{$icon}}</span>
                    <div class="grid-data">{{$daily.FormatDay $index}}</div>
                    <div class="grid-data">{{$daily.FormatHigh $index}}</div>
                    <div class="grid-data">{{$daily.FormatLow $index}}</div>
                    <div class="grid-data">
                        {{$daily.FormatPrecipitation $index}}
                    </div>
                    <div class="grid-data">{{$daily.FormatUvIndex $index}}</div>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </span>
</div>

{{ end }}
