{{ define "weather.hourly" }}
<!--  -->
{{$rt:=.Runtime}}{{$dt:=$rt.Location.WeatherDaily.UpdateTime}}
<div id="slot-{{.Action.Name}}" class="slot" draggable="false">
    <script>
        var hideHourly = [];
        var hourlyCanvasIDS = [];
        var hourlyList = [];
        var hourlyCodes = [];

        function toggleHourlyItem(sel, index) {
            let canvasId = hourlyCanvasIDS[index];
            toggleItem(sel, "hourly", index, canvasId, hourlyList);
        }

        function toggleHourly(index) {
            let id = "hourly" + index;
            if (hideHourly[index]) {
                hideHourly[index] = false;
                htmx.removeClass("#" + id, "hide");
            } else {
                hideHourly[index] = true;
                htmx.addClass("#" + id, "hide");
            }
        }
        document.getElementById("hourly-date").innerHTML = showFullDate(
            new Date(),
        );
    </script>
    {{template "layout.content.head" .Action }}{{$codes := .Codes}}
    <span>
        <div id="hourly-date" class="title-date"></div>
        <div class="content scroll">
            {{range $loc, $location := .Data}}
            <!--  -->
            {{template "weather.hourly.properties" $location}}
            <!--  -->
            {{$hourly := $location.WeatherHourly}}
            <div class="grid-hour">
                {{$hours:=$hourly.Hours}} {{range $t := $hours}}
                <span class="grid-data">{{$hourly.FormatHour $t}}</span>
                {{end}}
            </div>
            <!--  -->
            {{template "weather.hourly.grid" $location}}
            <!--  -->
            {{template "weather.hourly.max" $location}}
            <canvas
                id="canvas-hourly{{$loc}}"
                class="chart-hourly unfade-it"
            ></canvas>
            {{template "weather.hourly.min" $location}}

            <script>
                hideHourly.push(true);
                hourlyCodes.push({{$location.WeatherHourly.Hourly.Code}});
                var hourlyItems = new Map();
                var id = "canvas-hourly"+{{$loc}};
                hourlyCanvasIDS.push(id);
                {{range $p:=$location.HourlyProperties.Items}}
                hourlyItems.set({{$p.ID}}, {
                    id:{{$p.ID}},
                    selected: {{$p.Selected}},
                    draw: function (canvasId) {
                      if ("line"=={{$p.Chart}}) {
                        showGraph(canvasId, {{$p.Color}}, {{$p.ScaleMin}}, {{$p.ScaleMax}}, {{$p.Values}});
                      } else if ("bar"=={{$p.Chart}}) {
                        var codes = hourlyCodes[{{$loc}}];
                        showBars(canvasId, {{$p.Values}}, codes);
                      }
                }});
                {{end}}
                hourlyList.push(hourlyItems);
                drawItems({{$loc}}, id, hourlyList);
            </script>
            <button class="more" hx-on:click="toggleHourly({{$loc}})">
                <span class="symbols-small">more_horiz</span>
            </button>
            <div id="hourly{{$loc}}" class="hide">
                {{template "weather.hourly.detail" $location}}
            </div>
            {{end}}
        </div>
    </span>
</div>
{{ end }}
<!--  -->
<!--  -->
{{ define "weather.hourly.grid" }}
<!--  -->
{{$hourly := .WeatherHourly}}
<div class="grid-icon24">
    {{range $code := $hourly.Hourly.Code}} {{$wcode := $hourly.WeatherCode
    $code}}
    <span class="symbols-weather" style="color:{{$wcode.Color}}"
        >{{$wcode.Icon}}</span
    >
    {{end}}
</div>
{{ end }}
<!--  -->
<!--  -->
{{ define "weather.hourly.detail" }}
<!--  -->
{{$location:=.}}{{$w:=.WeatherHourly}}
<!--  -->
{{range $hourlyIndex,$time:=$w.Hourly.Time}}
<!--  -->
{{$c:=index $w.Hourly.Code $hourlyIndex}} {{$code:=$w.WeatherCode $c}}
<div class="summary-date">
    <span
        class="symbols-weather-medium item-icon"
        style="color:{{$code.Color}}; font-size:1rem"
    >
        {{$code.Icon}}
    </span>
    {{$w.WeatherCommon.FormatTime $time }}
</div>
{{$props:=$location.HourlyProperties}}
<div id="hourly-detail-{{$location.ID}}" class="summary">
    {{range $index, $item:=$props.Items}}
    <span id="history-detail-item-{{$item.ID}}">
        <span class="symbols-weather-medium {{$item.Klass}}">
            {{$item.Icon}}
        </span>
        <span class="summary-item"
            >{{index $item.Values $hourlyIndex}}{{$item.Units}}</span
        >
    </span>
    <!--  -->
    {{end}}
</div>
<!--  -->
{{ end }}
<!--  -->
{{ end }}
<!--  -->
<!--  -->
{{ define "weather.hourly.properties" }}
<!--  -->
{{$props:=.HourlyProperties}} {{$w:=.WeatherHourly}}{{$cur:=$w.Hourly}}
<!--  -->
{{$c:=index $cur.Code 0}} {{$code:=$w.WeatherCode $c}}
<!--  -->
<div class="title-weather">
    <span class="symbols-title item-icon" style="color:{{$code.Color}}">
        {{$code.Icon}}
    </span>
    <div class="title-city item-city">{{.City}}</div>
    <div class="item-date">
        {{$fmt:="3:04PM MST"}} {{$w.UpdateTime.Format $fmt}}
    </div>

    {{$left:=true}} {{range $item:=$props.Items}} {{if $left}}
    <div
        id="hourly-{{$item.ID}}"
        class="title-left {{if
        $item.Selected}}title-selected
        {{end}}"
        hx-on:click="toggleHourlyItem('{{$item.ID}}', {{$props.Index}})"
    >
        <span class="symbols-weather-medium {{$item.Klass}}"
            >{{$item.Icon}}</span
        >
        <span>{{index $item.Values 0}}{{$item.Units}}</span>
    </div>
    {{else}}
    <div
        id="hourly-{{$item.ID}}"
        class="title-right {{if
        $item.Selected}}title-selected
        {{end}}"
        hx-on:click="toggleHourlyItem('{{$item.ID}}', {{$props.Index}})"
    >
        <span>{{index $item.Values 0}}{{$item.Units}}</span>
        <span class="symbols-weather-medium {{$item.Klass}}"
            >{{$item.Icon}}</span
        >
    </div>
    {{end}}
    <!--  -->
    {{$left = not $left}}
    <!--  -->
    {{ end }}
</div>
{{ end }}
<!--  -->
{{ define "weather.hourly.max" }}
<!--  -->
{{$props:=.HourlyProperties}}
<div id="hourly-grid-max{{$props.Index}}" class="grid-minmax">
    <!--  -->
    {{range $item:=$props.Items}}
    <span
        id="hourly-max-{{$item.ID}}"
        {{if
        not
        $item.Selected}}class="hide"
        {{end}}
    >
        <span class="symbols-weather {{$item.Klass}}">{{$item.Icon}}</span>
        <span class="{{$item.Klass}}">{{$item.Max}}{{$item.Units}}</span>
    </span>
    {{ end }}
</div>
{{ end }}
<!--  -->
{{ define "weather.hourly.min" }}
<!--  -->
{{$props:=.HourlyProperties}}
<div id="grid-min{{$props.Index}}" class="grid-minmax">
    <!--  -->
    {{range $item:=$props.Items}}
    <!--  -->
    <span
        id="hourly-min-{{$item.ID}}"
        {{if
        not
        $item.Selected}}class="hide"
        {{end}}
    >
        <span class="symbols-weather {{$item.Klass}}">{{$item.Icon}}</span>
        <span class="{{$item.Klass}}">{{$item.Min}}{{$item.Units}}</span>
    </span>
    {{ end }}
</div>
{{ end }}
