{{ define "weather.hourly" }}
<!--  -->
{{$rt:=.Runtime}}{{$dt:=$rt.Location.WeatherDaily.UpdateTime}}
<div id="slot-{{.Action.Name}}" class="slot" draggable="false">
    <script>
        var hideHourly = [];
        var canvasIds = [];
        var hourlyList = [];
        var hourlyCodes = [];

        function toggleHourlyItem(sel, index) {
            let canvasId = canvasIds[index];
            toggleItem(sel, "hourly", index, canvasId, hourlyList);
        }

        function toggleHourly(index) {
            let id = "hourly" + index;
            if (hideHourly[index]) {
                hideHourly[index] = false;
                htmx.removeClass("#" + id, "hide");
            } else {
                hideHourly[index] = true;
                htmx.addClass("#" + id, "hide");
            }
        }
        document.getElementById("hourly-date").innerHTML = showFullDate(
            new Date(),
        );
    </script>
    {{template "layout.content.head" .Action }}{{$codes := .Codes}}
    <span>
        <div id="hourly-date" class="title-date"></div>
        <div class="content scroll">
            {{range $loc, $location := .Data}}
            <!--  -->
            {{template "weather.hourly.properties" $location}}
            <!--  -->
            {{$hourly := $location.WeatherHourly}}
            <div class="grid-hour">
                {{$hours:=$hourly.Hours}} {{range $t := $hours}}
                <span class="grid-data">{{$hourly.FormatHour $t}}</span>
                {{end}}
            </div>
            <!--  -->
            {{template "weather.hourly.grid" $location}}
            <!--  -->
            {{template "weather.hourly.max" $location}}
            <canvas
                id="canvas-hourly{{$loc}}"
                class="chart-hourly unfade-it"
            ></canvas>
            {{template "weather.hourly.min" $location}}

            <script>
                hideHourly.push(true);
                hourlyCodes.push({{$location.WeatherHourly.Hourly.Code}});
                var hourlyItems = new Map();
                var id = "canvas-hourly"+{{$loc}};
                canvasIds.push(id);
                {{range $p:=$location.HourlyProperties.Items}}
                hourlyItems.set({{$p.ID}}, {
                    id:{{$p.ID}},
                    selected: {{$p.Selected}},
                    draw: function (canvasId) {
                      if ("line"=={{$p.Chart}}) {
                        showGraph(canvasId, {{$p.Color}}, {{$p.ScaleMin}}, {{$p.ScaleMax}}, {{$p.Values}});
                      } else if ("bar"=={{$p.Chart}}) {
                        var codes = hourlyCodes[{{$loc}}];
                        showBars(canvasId, {{$p.Values}}, codes);
                      }
                }});
                {{end}}
                hourlyList.push(hourlyItems);
                drawItems({{$loc}}, id, hourlyList);
            </script>
            <button class="more" hx-on:click="toggleHourly({{$loc}})">
                <span class="symbols-small">more_horiz</span>
            </button>
            <div id="hourly{{$loc}}" class="hide">
                <div class="grid-hourly">
                    <div class="grid-label"></div>
                    <div class="grid-label">Time</div>
                    <div class="grid-label">Temp</div>
                    <div class="grid-label">Feels</div>
                    <div class="grid-label">Precip</div>
                    <div class="grid-label">Prob</div>
                    <div class="grid-label">Wind</div>
                </div>
                <div class="grid-hourly">
                    <div class="grid-label"></div>
                    <div class="grid-label"></div>
                    <div class="grid-label">
                        {{$hourly.HourlyUnits.Temperature}}
                    </div>
                    <div class="grid-label">
                        {{$hourly.HourlyUnits.FeelsLike}}
                    </div>
                    <div class="grid-label">
                        {{$hourly.HourlyUnits.Precipitation}}
                    </div>
                    <div class="grid-label">
                        {{$hourly.HourlyUnits.Probability}}
                    </div>
                    <div class="grid-label">
                        {{$hourly.HourlyUnits.WindSpeed}}
                    </div>
                </div>

                <div class="grid-hourly">
                    {{range $index, $time :=$hourly.Hourly.Time}} {{$code :=
                    index $hourly.Hourly.Code $index}} {{$wcode := index $codes
                    $code}} {{$icon := $wcode.Icon}}
                    <span class="symbols-small">{{$icon}}</span>
                    <div class="grid-data">{{$hourly.FormatTime $index}}</div>
                    <div class="grid-data">
                        {{index $hourly.Hourly.Temperature $index | printf
                        "%6.1f" }}
                    </div>
                    <div class="grid-data">
                        {{index $hourly.Hourly.FeelsLike $index | printf "%6.1f"
                        }}
                    </div>
                    <div class="grid-data">
                        {{index $hourly.Hourly.Precipitation $index | printf
                        "%6.2f" }}
                    </div>
                    <div class="grid-data">
                        {{index $hourly.Hourly.Probability $index | printf
                        "%6.0f" }}
                    </div>
                    <div class="grid-data">
                        {{index $hourly.Hourly.WindSpeed $index | printf "%6.2f"
                        }}
                    </div>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </span>
</div>
{{ end }}
<!--  -->
{{ define "weather.hourly.grid" }}
<!--  -->
{{$hourly := .WeatherHourly}}
<div class="grid-icon24">
    {{range $code := $hourly.Hourly.Code}} {{$wcode := $hourly.WeatherCode
    $code}}
    <span class="symbols-weather" style="color:{{$wcode.Color}}"
        >{{$wcode.Icon}}</span
    >
    {{end}}
</div>
{{ end }}
<!--  -->
<!--  -->
{{ define "weather.hourly.properties" }}
<!--  -->
{{$props:=.HourlyProperties}} {{$w:=.WeatherHourly}}{{$cur:=$w.Hourly}}
<!--  -->
{{$c:=index $cur.Code 0}} {{$code:=$w.WeatherCode $c}}
<!--  -->
<div class="title-weather">
    <span class="symbols-title item-icon" style="color:{{$code.Color}}">
        {{$code.Icon}}
    </span>
    <div class="title-city item-city">{{.City}}</div>
    <div class="item-date">
        {{$fmt:="3:04PM MST"}} {{$w.UpdateTime.Format $fmt}}
    </div>

    {{$left:=true}} {{range $item:=$props.Items}} {{if $left}}
    <div
        id="hourly-{{$item.ID}}"
        class="title-left {{if
        $item.Selected}}title-selected
        {{end}}"
        hx-on:click="toggleHourlyItem('{{$item.ID}}', {{$props.Index}})"
    >
        <span class="symbols-weather-medium {{$item.Klass}}"
            >{{$item.Icon}}</span
        >
        <span>{{index $item.Values 0}}{{$item.Units}}</span>
    </div>
    {{else}}
    <div
        id="hourly-{{$item.ID}}"
        class="title-right {{if
        $item.Selected}}title-selected
        {{end}}"
        hx-on:click="toggleHourlyItem('{{$item.ID}}', {{$props.Index}})"
    >
        <span>{{index $item.Values 0}}{{$item.Units}}</span>
        <span class="symbols-weather-medium {{$item.Klass}}"
            >{{$item.Icon}}</span
        >
    </div>
    {{end}}
    <!--  -->
    {{$left = not $left}}
    <!--  -->
    {{ end }}
</div>
{{ end }}
<!--  -->
{{ define "weather.hourly.max" }}
<!--  -->
{{$props:=.HourlyProperties}}
<div id="grid-max{{$props.Index}}" class="grid-minmax">
    <!--  -->
    {{range $item:=$props.Items}}
    <span
        id="hourly-max-{{$item.ID}}"
        {{if
        not
        $item.Selected}}class="hide"
        {{end}}
    >
        <span class="symbols-weather {{$item.Klass}}">{{$item.Icon}}</span>
        <span class="{{$item.Klass}}">{{$item.Max}}{{$item.Units}}</span>
    </span>
    {{ end }}
</div>
{{ end }}
<!--  -->
{{ define "weather.hourly.min" }}
<!--  -->
{{$props:=.HourlyProperties}}
<div id="grid-min{{$props.Index}}" class="grid-minmax">
    <!--  -->
    {{range $item:=$props.Items}}
    <!--  -->
    <span
        id="hourly-min-{{$item.ID}}"
        {{if
        not
        $item.Selected}}class="hide"
        {{end}}
    >
        <span class="symbols-weather {{$item.Klass}}">{{$item.Icon}}</span>
        <span class="{{$item.Klass}}">{{$item.Min}}{{$item.Units}}</span>
    </span>
    {{ end }}
</div>
{{ end }}
