{{ define "weather.common" }}
<div class="content grid-container">
    <div class="grid-label">Latitude</div>
    <div class="grid-label">Longitude</div>
    <div class="grid-label">Timezone</div>
    <div class="grid-label">Elevation</div>
    <div class="grid-data">{{printf "%5.2f" .Latitude}}</div>
    <div class="grid-data">{{printf "%5.2f" .Longitude}}</div>
    <div class="grid-data">{{.Timezone}}</div>
    <div class="grid-data">{{.Elevation}}</div>
</div>
{{ end }} {{ define "weather.sun" }}
<div id="slot-{{.Action.Name}}" class="slot" draggable="false">
    {{template "layout.content.head" .Action }}{{$codes := .Codes}}
    <div class="content scroll">
        {{range $location := .Data}}
        <div class="title">{{$location.City}}</div>
        <div class="grid-sun">
            <div class="grid-label"></div>
            <div class="grid-label">Day</div>
            <div class="grid-label">Daylight</div>
            <div class="grid-label">Sunshine</div>
            <div class="grid-label">Sunrise</div>
            <div class="grid-label">Sunset</div>
        </div>

        <div class="grid-sun">
            {{$daily := $location.WeatherDaily}} {{range $index, $time :=
            $daily.Daily.Time}}{{$code := index $daily.Daily.Code $index}}
            {{$wcode := index $codes $code}} {{$icon := $wcode.Icon}}
            <span class="symbols-small">{{$icon}}</span>
            <div class="grid-data">{{$daily.FormatDay $index}}</div>
            <div class="grid-data">{{$daily.FormatDaylight $index}}</div>
            <div class="grid-data">{{$daily.FormatSunshine $index}}</div>
            <div class="grid-data">{{$daily.FormatSunrise $index}}</div>
            <div class="grid-data">{{$daily.FormatSunset $index}}</div>
            {{end}}
        </div>
        {{end}}
    </div>
</div>

{{ end }} {{ define "weather.current" }}
<div id="slot-{{.Action.Name}}" class="slot" draggable="false">
    {{template "layout.content.head" .Action }}
    <div class="content"></div>
</div>
{{ end }}{{ define "weather.readings" }} {{ end }}
