:root {
    --bgOpaque: rgba(0, 0, 0, 0.75);
    --bgTransparent: rgba(0, 0, 0, 0.15);
    --bgH3: rgba(0, 127, 255, 0.15);
    --fgBright: rgba(165, 208, 198, 1);
    --fgSelected: rgba(200, 255, 240, 1);
    --fgDim: rgba(165, 208, 198, 0.8);
    --fgOut: rgba(128, 255, 0, 1);
    --fgIn: rgba(255, 255, 255, 1);
    --fgClock: rgba(165, 208, 198, 1);
    --fgStatus: rgba(255, 255, 0, 0.9);
    --fgIcon: rgba(120, 184, 244, 1);
    --fgWeatherIcon: rgba(0, 0, 255, 1);
    --slotWidth: 23rem;
    --slotImageWidth: 18rem;
    --inputWidth: 8rem;
    --chartWidth: 322px;
    --chartWidthHourly: 324px;
    --chartHeight: 60px;
    --chartBarHeight: 28px;
    --dateColor: rgba(240, 155, 90, 1);
}

/* fallback */
@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url(symbols.woff2) format("woff2");
}

.material-symbols-outlined,
.symbols,
.symbols-title,
.symbols-weather,
.symbols-weather-medium,
.symbols-small,
.symbols-form {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.symbols {
    color: var(--fgIcon);
    font-size: 2.25rem;
}

.symbols-title,
.symbols-small {
    color: var(--fgIcon);
    margin-right: 0.5rem;
    font-size: 1rem;
}
.symbols-weather-medium,
.symbols-weather {
    font-size: 0.75rem;
    margin-right: 0rem;
    color: var(--fgIcon);
}
.symbols-weather-medium {
    font-size: 0.9rem;
    cursor: pointer;
}
.symbols-title {
    font-size: 1.75rem;
}

.symbols-form {
    color: var(--fgIcon);
    font-size: 1.5rem;
    width: 3rem;
}

.streaming {
    color: red;
}

.chart-bar,
.chart,
.chart-hourly {
    opacity: 1;
    color: green;
    width: var(--chartWidth);
    height: var(--chartHeight);
    padding-top: 8;
    padding-bottom: 8;
}
.chart-hourly {
    width: var(--chartWidthHourly);
}
.chart-bar {
    height: var(--chartBarHeight);
}

body {
    font-family: sans-serif;
    background-color: black;
    scrollbar-color: var(--fgDim) var(--bgOpaque);
    scrollbar-width: thin;
    overflow: auto;
}

.hide {
    display: none;
}

li {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}

h3 {
    margin: 0rem;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.25rem;
    background-color: var(--bgH3);
    color: var(--fgBright);
    border-radius: 1rem 1rem 0rem 0rem;
}

.slot,
.chat {
    position: fixed;
    top: 5rem;
    color: var(--fgBright);
    /*background-color: var(--bgOpaque);*/
    background-color: rgba(0, 0, 0, 1);

    border-radius: 1rem;
    animation-name: fade-in-slow;
    animation-timing-function: ease-out;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    max-height: 80%;
    overflow-x: wrap;
    overflow-y: auto;
    scrollbar-color: var(--fgDim) var(--bgOpaque);
    scrollbar-width: thin;
}

.slot {
    left: 1rem;
    width: var(--slotWidth);
}

.chat {
    right: 1rem;
    width: 15rem;
}

.content {
    padding: 1rem;
}

.scroll {
    overflow-y: scroll;
    height: 22rem;
}
.cameras {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 200px;
    height: 100%;
    scrollbar-color: var(--fgDim) var(--bgOpaque);
    scrollbar-width: thin;
}

.source {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.image {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image > img {
    width: var(--slotImageWidth);
}

.source > img {
    width: 100%;
}

.actions {
    position: fixed;
    margin: 0.6rem;
    overflow: hidden;
}

.actions-right {
    position: fixed;
    right: 0rem;
    margin: 0.6rem;
    overflow: hidden;
}

.action {
    padding: 4px;
    margin: 2px;
    background-color: var(--bgTransparent);
    color: var(--fgDim);
    border-radius: 0.35rem;
}

.action:hover,
.action:focus {
    opacity: 1;
    background-color: var(--bgOpaque);
    color: var(--fgBright);
}

.more {
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
    background-color: var(--bgTransparent);
    color: var(--fgDim);
    border-radius: 0.35rem;
}

.close-slot {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: var(--bgH3);
    color: var(--fgBright);
    border-radius: 0.35rem;
}

.label {
    margin-top: 0.6rem;
    font-size: 1rem;
    font-weight: bold;
}

.item-icon {
    grid-area: icon;
    text-align: center;
    align-content: center;
}

.item-date {
    font-weight: normal;
    font-size: 0.65rem;
    text-align: center;
    grid-area: date;
    align-content: center;
}

.title-weather {
    display: grid;
    font-size: 0.9rem;
    font-weight: bold;
    grid-template-areas:
        ". icon ."
        ". icon ."
        ". date ."
        ". city ."
        ". city ."
        ". city ."
        ". . .";
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0.5rem;
}

.summary-date {
    font-size: 0.7rem;
}

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}
.summary-item {
    font-weight: normal;
    font-size: 0.7rem;
}

.title {
    display: grid;
    font-size: 0.9rem;
    font-weight: bold;
    grid-template-columns: 5fr min-content 5fr;
    margin-bottom: 0.5rem;
}

.title-center,
.title-right,
.title-left {
    font-weight: normal;
    font-size: 0.7rem;
    cursor: pointer;
}

.title-date {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 0.8rem;
}

.title-selected {
    font-weight: 900;
    color: var(--fgSelected);
}

.title-left {
    text-align: left;
}
.title-right {
    text-align: right;
}
.title-center {
    text-align: center;
}
.title-city {
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
    align-content: center;
}
.item-city {
    grid-area: city;
}

.text-input {
    border-radius: 0.35rem;
    background-color: rgba(255, 255, 0, 0.1);
    color: rgba(255, 255, 0, 1);
    width: 100%;
}

.messages {
    overflow-y: auto;
    overflow-x: wrap;
    scrollbar-color: var(--fgDim) var(--bgOpaque);
    scrollbar-width: thin;
    height: 10rem;
}

.users,
.message {
    margin-left: 0.25rem;
    font-size: 0.75rem;
}

.message-item,
.status {
    margin-left: 1rem;
    margin-bottom: 0.25rem;
    color: var(--fgStatus);
    font-size: 0.75rem;
}

.clock:hover {
    opacity: 1;
    /* Will override color (regardless of order) */
    /* -webkit-text-fill-color: var(--fgClock);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--fgClockOutline); */
    animation-name: fade-clock;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

@keyframes fade-clock {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.clock {
    display: grid;
    position: fixed;
    bottom: 1rem;
    color: var(--fgClock);
    text-align: center;
    width: 100%;
    font-size: 2.1rem;
    font-style: bolder;
    grid-template-columns: auto auto auto auto;
    opacity: 0.4;
}

.name-item {
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    font-size: 0.75rem;
}

.user-active {
    font-weight: bold;
    font-style: normal;
}

.user-inactive {
    font-weight: lighter;
    font-style: italic;
}

.header {
    padding-bottom: 0.5rem;
}
.form-label {
}

.form-input {
    font-size: 0.85rem;
    width: var(--inputWidth);
    background-color: var(--bgTransparent);
    color: var(--fgOut);
}

.form-entry {
    font-size: 0.85rem;
    margin-left: 0.5rem;
    line-height: 1.9;
}

.form-option {
    background-color: black;
    color: var(--fgOut);
}

.grid-minmax {
    display: grid;
    font-size: 0.6rem;
    padding-bottom: 2px;
    width: 100%;
    text-align: center;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-auto-flow: column dense;
}

.windspeed {
    color: rgba(255, 218, 185, 255);
}
.windgusts {
    color: rgba(255, 239, 213, 255);
}
.humidity {
    color: rgba(221, 160, 221, 255);
}
.pressure {
    color: rgba(255, 153, 153, 255);
}
.surface {
    color: rgba(230, 103, 113, 255);
}
.precipitation {
    color: rgba(0, 119, 190, 255);
}
.probability {
    color: rgba(8, 146, 208, 255);
}
.shower {
    color: rgba(135, 206, 235, 255);
}
.rain {
    color: rgba(31, 144, 255, 255);
}
.snow {
    color: rgba(255, 255, 255, 255);
}
.cloud {
    color: rgba(119, 139, 165, 255);
}
.temperature {
    color: rgba(255, 69, 0, 255);
}
.feelslike {
    color: rgba(255, 140, 0, 255);
}
.temperature-high {
    color: rgba(233, 105, 44, 255);
}
.temperature-low {
    color: rgba(255, 179, 71, 255);
}
.daylight {
    color: rgba(255, 225, 53, 255);
}
.sunshine {
    color: rgba(255, 255, 0, 255);
}

.grid-container,
.grid-day,
.grid-hour,
.grid-icon,
.grid-icon24,
.grid-sun,
.grid-hourly,
.grid-daily {
    font-size: 0.7rem;
    display: grid;
    grid-template-columns: 4rem 4rem 8rem 3rem;
    justify-content: center;
}

.grid-day {
    justify-content: left;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-icon,
.grid-icon24,
.grid-hour {
    padding-bottom: 2px;
    justify-content: left;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-icon24 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-hourly {
    padding-bottom: 0.2rem;
    grid-template-columns: 1.5rem 4rem 3rem 3rem 3rem 3rem 3rem;
}
.grid-daily {
    padding-bottom: 0.2rem;
    grid-template-columns: 1.5rem 4.5rem 3.6rem 4rem 3.6rem;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr;
}
.grid-sun {
    padding-bottom: 0.2rem;
    grid-template-columns: 1.5rem 4.5rem 4rem 4rem 3.6rem;
}

.grid-label {
    font-size: 0.7rem;
    background-color: var(--bgTransparent);
}
.grid-data {
    font-size: 0.6rem;
    background-color: var(--bgTransparent);
    color: var(--fgOut);
}
.note {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 0.65rem;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.4;
    }
    85% {
        opacity: 0.3;
    }
    90% {
        opacity: 0.2;
    }
    95% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.6;
    }
    85% {
        opacity: 0.7;
    }
    90% {
        opacity: 0.8;
    }
    95% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

.fade-it {
    animation-name: fade-out;
    animation-timing-function: linear;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
}
.unfade-it {
    animation-name: fade-in;
    animation-timing-function: linear;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
}

#response-div {
    top: 50%;
    left: 50%;
    position: fixed;
    text-align: center;
    text-shadow: 0.5rem 0.5rem 0.5rem black;
    font-size: 6rem;
    color: var(--fgBright);
}
